{{! http://handlebarsjs.com }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {{> social_media}}
    {{> favicons}}
    {{> head_scripts}}
  </head>
  <body>
    <section id="app">
    </section>
  </body>
</html>
